<h1><%= @tagname %></h1>

<script type="text/javascript">
var this_tag='<%= @tagname %>'
var all_tags=<%= @tags.to_json %>
var all_items=<%= @items.to_json %>
</script>

<input type='button' value='§i' id='show_all_items'/>
<input type='button' value='§t' id='show_all_tags'/><br>

<hr>
<h2>update 1st item</h2>
<textarea id='update_item_text'></textarea>
<input type='button' value='+' id='update_item_button'/>

<hr>
<h2>add item</h2>
<textarea id='add_item_text'></textarea>
<input type='button' value='+' id='add_item_button'/>

<div id='log'>Here goes the log</div>
