<h1><%= @tagname %></h1>

<script type="text/javascript">
var this_tag='<%= @tagname %>'
var all_tags=<%= @tags.to_json %>
var all_items=<%= @items.to_json %>
</script>

<hr>
<h2>Items</h2>
<div id='items'></div>

<div id='add_item'>
<textarea id='add_item_text'></textarea>
</div>

<hr>
<h2>Tags</h2>
<div id='tags'></div>
<div id='add_tag'>
<textarea id='add_tag_text'></textarea>
</div>

<hr>
<input type='button' value='dump' id='dump'/>
<div id='log'>Log:</div>
