<h1>
<% if @tag then %>
<%= @tag.value %>
<% else %>
No tag
<% end %>
</h1>

<textarea id='add_item_text'></textarea>
<input type='button' value='+' id='add_item_button'/>

<div id='log'>Here goes the log</div>
