<h1><%= @tagname %></h1>

<script type="text/javascript">
var this_tag='<%= @tagname %>'
var all_tags=<%= @tags.to_json %>
var all_items=<%= @items.to_json %>
</script>

<hr>
<h2>Items</h2>
<div id='items'></div>

<div id='add_item'>
<textarea id='add_item_text'></textarea>
<input type='button' value='+item' id='add_item_button'/>
</div>

<hr>
<h2>Tags</h2>
<div id='tags'></div>
<div id='add_tag'>
<textarea id='add_tag_text'></textarea>
<input type='button' value='+tag' id='add_tag_button'/>
</div>

<!--
<hr>
<h2>destroy 1st item</h2>
<input type='button' value='+' id='destroy_item_button'/>

<hr>
<h2>update 1st item</h2>
<textarea id='update_item_text'></textarea>
<input type='button' value='+' id='update_item_button'/>

<hr>
<h2>add 1st global tag to 1st item</h2>
<input type='button' value='+' id='add_tag_item_button'/>

<hr>
<h2>remove 1st tag from 1st item</h2>
<input type='button' value='+' id='remove_tag_item_button'/>

<hr>
<h2>split 1st item into lines</h2>
<input type='button' value='+' id='split_item_button'/>

<hr>
<h2>remove tag</h2>
<textarea id='remove_tag_text'></textarea>
<input type='button' value='+' id='remove_tag_button'/>

<hr>
<h2>update tag-one tag</h2>
<textarea id='update_tag_text'></textarea>
<input type='button' value='+' id='update_tag_button'/>
-->

<hr>
<input type='button' value='§i' id='show_all_items'/>
<input type='button' value='§t' id='show_all_tags'/><br>
<div id='log'>Log:</div>
